---
import BasePageLayout from "@/layouts/BasePageLayout.astro";
import Header from "@/components/header/Header.astro";
import ItemsList from "@/project-solution/ItemList";
---

<BasePageLayout
	title="Главная"
	description="Главная страница сайта"
	keywords="Ключевые слова"
>
	<Header />
	<section class="list-section section">
		<h1> Ищи. Выделяй. Сортируй.</h1>
		<ItemsList client:only="react" />
	</section>
</BasePageLayout>
