---
import { LinkButton } from "../buttons";
import "./header.scss";
---

<header class="header">
    <a href="/" class="header__logo text">
        <img src="/favicon.svg" alt="Логотип" class="header__logo-icon" />
        One Million Items
    </a>

    <nav class="header__nav-list">
        <LinkButton s icon="github" href="https://github.com/vodyaraman?tab=repositories"/>
        <LinkButton s icon="telegram" href="https://t.me/vodyaraman"/>
    </nav>
</header>
