---
import "./header.scss";
---

<header class="header">
    <a href="/" class="header__logo text">
        <img src="/favicon.svg" alt="Логотип" class="header__logo-icon" />
        One Million Items
    </a>

    <nav class="header__nav-list">
        
    </nav>
</header>
